@import "@fontsource/tajawal/400.css";
@import "@fontsource/tajawal/700.css";
@import "@fontsource/cairo/400.css";
@import "@fontsource/cairo/700.css";

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

body {
	direction: rtl;
	text-align: right;
	font-family: 'Tajawal', 'Cairo', sans-serif;
}
